.search-dropdown {
    padding: 0px;
    margin-top: 5px;
    max-height: 455px !important;
    border-radius: $radius-md !important;
    label {
        padding: 0 15px;
        line-height: normal;
        margin: 10px 0;
        display: block;
    }
    mat-option {
        padding: 8px 15px;
        height: auto;
        line-height: normal;
        font-size: 14px;
        img,
        video {
            @include image-round(30px);
            margin-right: 10px;
        }
    }
    &__viewall {
        background-color: $color-gray-light;
        width: 100%;
        display: block;
        padding: 2px;
        text-align: center;
        cursor: pointer;
    }
}
