<div class="product-slider">
  <figure>
      <img src="assets/images/dummy-img-3.png" alt="">
  </figure>
  <ul class="dflex">
      <li class="active">
          <span role="cursor">
              <img src="assets/images/dummy-img-thumb.png" alt="Slide">
          </span>
      </li>
      <li>
          <span role="cursor">
              <img src="assets/images/dummy-img-thumb.png" alt="Slide">
          </span>
      </li>
      <li>
          <span role="cursor">
              <img src="assets/images/dummy-img-thumb.png" alt="Slide">
          </span>
      </li>
      <li>
          <span role="cursor">
              <img src="assets/images/dummy-img-thumb.png" alt="Slide">
          </span>
      </li>
  </ul>
</div>