<div class="dialog__wrap">
    <!-- popup header -->
    <div class="dialog__head">
        <h4>Change Password</h4>
        <span (click)="closeModal('NO')" class="dialog__close">
            <img src="assets/images/close.svg" alt="Remove" />
        </span>
    </div>

    <!-- popup body -->
    <div class="dialog__body">
        <div class="new-post">
            <div class="upload-image" *ngIf="currentStep == 2">

                <!-- form -->
                <form [formGroup]="changePasswordForm">
                    <ng-container>
                        <div class="upload-image__form">
                            <!-- field item -->
                            <div class="field-group">
                                <app-input-field
                                    [maxlength]="50" 
                                    [placeholder]="'Current Password'"
                                    [type]="'password'"
                                    [formGroup]="this.changePasswordForm"
                                    [fieldControlName]="'currentpassword'">
                                </app-input-field>
                                <span *ngIf="wrongPassword" class="error">Please
                                    enter correct password!
                                </span>
                                <span
                                    *ngIf="handleErrors(
                                    changePasswordForm,
                                    'currentpassword',
                                    'required'
                                    )" class="error">
                                    {{ getErrorMessage("required") }}
                                </span>
                            </div>

                            <!-- field item -->
                            <div class="field-group">
                                <app-input-field
                                    [maxlength]="50" 
                                    [placeholder]="'New Password'"
                                    [type]="'password'"
                                    [formGroup]="this.changePasswordForm"
                                    [fieldControlName]="'password'">
                                </app-input-field>
                            </div>

                            <span *ngIf="handleErrors(changePasswordForm,
                                'password', 'required')" class="error">
                                {{ getErrorMessage("required") }}
                            </span>
                            <span *ngIf="handleErrors(changePasswordForm,
                                'password', 'pattern')" class="error">
                                {{ getErrorMessage("pattern") }}
                            </span>
                            <div class="field-group">
                                <app-input-field
                                    [maxlength]="50" 
                                    [placeholder]="'Re-Enter Password'"
                                    [type]="'password'"
                                    [formGroup]="this.changePasswordForm"
                                    [fieldControlName]="'confirmPassword'">
                                </app-input-field>
                            </div>
                            <span
                                *ngIf="handleErrors(
                                changePasswordForm,
                                'confirmPassword',
                                'required'
                                )" class="error">
                                {{ getErrorMessage("required") }}
                            </span>
                            <span
                                *ngIf="handleErrors(
                                changePasswordForm,
                                'confirmPassword',
                                'notMatching'
                                )" class="error">
                                {{ getErrorMessage("notMatching") }}
                            </span>
                            <div class="field-group text-center">
                                <app-button
                                    [buttonText]="'Update'"
                                    (click)="onSubmit()"
                                    [loading]="isLoading">
                                </app-button>
                            </div>
                        </div>
                    </ng-container>
                </form>
            </div>

            <!-- success message -->
            <div class="new-post__success" *ngIf="currentStep == 1">
                <figure>
                    <img src="assets/images/check-green.svg" alt="Success"/>
                </figure>
                <h4>Success!</h4>
                <p>Your post has been published successfully.</p>
                <button class="button sm" (click)="closeModal('DONE')">Done</button>
            </div>
        </div>
    </div>
</div>
