@import "../../../../assets/scss/variables.scss";
.authCarousel {
    height: 100%;
    margin-bottom: 0;
    .slick-slide,
    .slick-track,
    .slick-list {
        height: 100%;
    }
    .slick-slide {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &::before {
            @include max-screen($tablet) {
                left: 0;
                right: 0;
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: rgba($color-navy-blue, 0.75);
            }
        }
    }
}
