<div class="reset">
    <h6>{{ otpText }}</h6>
    <form [formGroup]="ResetPasswordForm" (ngSubmit)="onResetSubmit()">
        <div *ngIf="isOtpRequired" class="field-group">
            <app-input-field [maxlength]="50" [formGroup]="this.ResetPasswordForm" [fieldControlName]="'otp'" label="{{ this.email }}"
                [placeholder]="placeholder" [type]="'password'" [isFocus]="true">
            </app-input-field>
            <span *ngIf="handleErrors(ResetPasswordForm, 'otp', 'required')" class="error">
                {{ getErrorMessage("required") }}
            </span>
        </div>
        <div class="field-group">
            <app-input-field [maxlength]="50" [formGroup]="this.ResetPasswordForm" [fieldControlName]="'password'"
                [placeholder]="'New Password'" [type]="'password'">
            </app-input-field>
            <span *ngIf="handleErrors(ResetPasswordForm, 'password', 'required')" class="error">
                {{ getErrorMessage("required") }}
            </span>
            <span *ngIf="handleErrors(ResetPasswordForm, 'password', 'pattern')" class="error">
                {{ getErrorMessage("pattern") }}
            </span>
        </div>
        <div class="field-group">
            <app-input-field [maxlength]="50" [formGroup]="this.ResetPasswordForm" [fieldControlName]="'confirmPassword'"
                [placeholder]="'Confirm Password'" [type]="'password'">
            </app-input-field>
            <span *ngIf="handleErrors(ResetPasswordForm, 'confirmPassword',
                'required')" class="error">
                {{ getErrorMessage("required") }}
            </span>
            <span *ngIf="handleErrors(ResetPasswordForm, 'confirmPassword',
                'notMatching')" class="error">
                {{ getErrorMessage("notMatching") }}
            </span>
        </div>
        <div class="field-group">
            <app-button [passedClass]="'w-full'" [buttonText]="buttonText" [loading]="isLoading.load==true"></app-button>
        </div>
    </form>
</div>