@import '../../../../assets/scss/variables.scss';

.reset {
    @extend %form;
    h6 {
        font-size: 16px;
        color: $color-white;
    }
    app-input-field {
        ::ng-deep strong {
            color: $color-white;
        }
    }
    ::ng-deep {
        .error {
            color: $color-white !important;
        }
    }
}