<div class="forgot">
    <h6 *ngIf="action == 'forgotpassword'">Please enter your registered email</h6>
    <form *ngIf="action == 'forgotpassword'" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordFormSubmit()">
        <div class="field-group">
            <app-input-field [placeholder]="'Email'" [type]="'email'" [formGroup]="this.forgotPasswordForm"
                [fieldControlName]="'email'" [isFocus]="true"></app-input-field>
            <span *ngIf="handleErrors(forgotPasswordForm, 'email', 'required')" class="error">
                {{ getErrorMessage("required") }}
            </span>
            <span *ngIf="handleErrors(forgotPasswordForm, 'email', 'email')" class="error">
                {{ getErrorMessage("email") }}
            </span>
        </div>
        <div class="field-group text-center">
            <app-button [passedClass]="'w-full'" [buttonText]="'Continue'" [loading]="isLoading">
            </app-button>
        </div>
        <div class="field-group text-center">
            <a class="button link w-full forgot__link" (click)="onLoginClick()" title="Sign In!">
                Login!
            </a>
        </div>
    </form>
</div>
<app-reset-password *ngIf="action == 'resetpassword'" [email]="userEmail" [isOtpRequired]="true"
    (newPassword)="onNewPassword($event)" [placeholder]="'Enter OTP'"
    [otpText]="'Please enter the OTP received on your email'" [isLoading]="isResetLoading">
</app-reset-password>