@import "../../../../assets/scss/variables.scss";
.forgot {
    @extend %form;
    h6 {
        font-size: 16px;
        color: $color-white;
    }
    &__link {
        &:hover {
            color: $color-white;
        }
    }
    ::ng-deep {
        .error {
            color: $color-white !important;
        }
    }
}
